<p id="notice"><%= notice %></p>

<p>
  <strong>Nomusuario:</strong>
  <%= @user.nomusuario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.estado %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
