<%= form_for @libro, :html => { :class => "form-horizontal libro" } do |f| %>

  <% if @libro.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@libro.errors.count, "error") %> prohibited this libro from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @libro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :isbn, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :isbn, :class => 'form-control' %>
    </div>
    <%=f.error_span(:isbn) %>
  </div>
  <div class="form-group">
    <%= f.label :titulo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :titulo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:titulo) %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descripcion, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descripcion) %>
  </div>
  <div class="form-group">
    <%= f.label :stock, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :stock, :class => 'form-control' %>
    </div>
    <%=f.error_span(:stock) %>
  </div>
  <div class="form-group">
    <%= f.label :costo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :costo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:costo) %>
  </div>
  <div class="form-group">
    <%= f.label :editorial, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :editorial, :class => 'form-control' %>
    </div>
    <%=f.error_span(:editorial) %>
  </div>
  <div class="form-group">
    <%= f.label :autor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :autor, :class => 'form-control' %>
    </div>
    <%=f.error_span(:autor) %>
  </div>
  <div class="form-group">
    <%= f.label :clasificacion, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :clasificacion, :class => 'form-control' %>
    </div>
    <%=f.error_span(:clasificacion) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                libros_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
